<div class="p-3 bg-dark-navy text-light-off">
    <div class="flex justify-between p-5">
        <div>
            <h1 class="text-3xl font-bold font-titleFont"><a href="/watchedList">The Watcher.</a></h1>
        </div>
        <ul class="flex font-semibold font-body">
            <li class="nav-list">
                <span><a href="/watchedList">Watched</a></span>
            </li>
            <li>|</li>
            <li class="nav-list">
                <span><a href="/toWatchList">To Watch</a></span>
            </li>
            <li>|</li>
            <li class="nav-list">
                <span><a href="/watchingList">Watching</a></span>
            </li>
        </ul>
    </div>    
</div>